<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3 class="display-5" align="center">
            <%= gravatar_for @user %><br><br>
            Witaj <%= @user.username %>
        </h3>
        <p class="lead">
            Twój login: <%= @user.email %>
        </p>
    </div>
</div>