<div class="jumbotron">
  <h1 class="display-4">Projekt TIM</h1>
  <p class="lead">Projekt aplikacji internetowej "NOTATNIK".</p>
  <hr class="my-4">
  <p>Autorzy:</p>
  <p>Łukasz Jankowski, Konrad Leśniewski</p>
  <hr class="my-4">
  <p>Grupa:</p>
  <p>I8E1S4</p>
  <hr class="my-4">
  <%= link_to "Signup", signup_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "Login", login_path, class: "btn btn-primary btn-lg" %>
</div>

